@import '../../styles/variables.scss';
$sidebar-width: 500px;
.layout {
  display: flex;
  justify-content: space-between;
  background-color: $color-light;
  padding-top: 7rem;
  padding-bottom: 1rem;
  &Container {
    display: flex;
    @extend .container;
  }
  &Content,
  &Sidebar {
    height: 100%;
  }
  &Content {
    width: 100%;
  }
  &Sidebar {
    width: $sidebar-width !important;
    padding-left: 2rem;
    &Item {
      display: flex;
      justify-content: space-between;
      p {
        white-space: nowrap;
        max-width: 32ch;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &Title {
      background-color: $color-primary;
      padding: 0.75rem;
      text-align: center;
      color: $color-light;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      font-size: 1.25rem;
      border-radius: $border-radius-l;
      margin-bottom: 1.5rem;
    }
    &Item {
      display: flex;
      justify-content: space-between;
      padding: 0.25rem;
      color: $color-light-secondary;
      font-weight: 500;
    }
  }
  &Banner {
    background-color: $color-primary;
    margin-top: 5rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: $color-light;
  }
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  * {
    padding: 0.5rem 1rem;
  }
  div {
    min-width: 6ch;
    text-align: center;
  }
  &Button {
    background-color: $color-primary;
    color: $color-light;
    border-radius: $border-radius-sm;
    &:disabled {
      opacity: 0.5;
    }
  }
}
@media (max-width: $screen-l) {
  .layoutSidebar {
    display: none;
  }
}
