@import '../../styles/variables.scss';
.button {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  width: max-content;
}
.button[variant='contained'] {
  background-color: $color-primary;
  color: $color-light;
}
.button[position='center'] {
  margin-inline: auto;
}
.button[variant='danger'] {
  background-color: $color-danger;
}
.button:active {
  opacity: 0.7;
}
