@import '../../../styles/variables.scss';

.main {
  width: 100%;

  &Container {
    width: 100%;
    &Card{
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: space-between;
      // justify-content: center;
      margin-bottom: 1.5rem;
    }
  }
  
  &Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  &Not {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    aspect-ratio: 1;
    background: rgba(2, 162, 143, 0.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    &Container {
      display: flex;
      justify-content: center;
    }
    h3 {
      padding-inline: 2rem;
      font-weight: 700;
      font-size: 35px;
      line-height: 40px;
      color: #02a28f;
      text-align: center;
    }
  }
  .modal {
    &Container {
      width: min(100%, calc($container-size / 2));
      background-color: #fff;
      padding: 27px 59px;
      border-radius: 10px;
      margin: auto;
    }
    &Img {
      display: flex;
      align-items: center;
      padding: 1rem;
      gap: 10px;
      width: 100%;
      height: 140px;
      border-radius: 6px;
      background-color: #fafafa;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 20px;
      background-image: url('../../../asset/uploadbg.png');

      p {
        color: #02a28f;
        font-size: 16px;
        font-weight: 500;
      }
    }
    &Textarea {
      margin-top: 20px;
    }
  }
}
.titleInput {
  width: 65%;
}
