@import '../../../styles/variables.scss';

.main {
  width: 100%;

  &Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    // justify-content: center;
    margin-bottom: 1.5rem;
  }
  &Not {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    aspect-ratio: 1;
    background: rgba(2, 162, 143, 0.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    &Container {
      display: flex;
      justify-content: center;
    }
    h3 {
      padding-inline: 2rem;
      font-weight: 700;
      font-size: 35px;
      line-height: 40px;
      color: #02a28f;
      text-align: center;
    }
  }
}
