@import '../../styles/variables.scss';
.navbar {
  background-color: $color-primary;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  &Container {
    display: flex;
    justify-content: space-between;
    @extend .container;
    align-items: center;
  }

  &Left {
    img {
      width: 250px;
    }
  }
  &Right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &Items {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
  &Item {
    opacity: 0.7;
  }
  &ItemActive {
    opacity: 1;
  }
  &Search {
    display: flex;
    margin-left: 1rem;
    margin-right: 1.25rem;
    button {
      border-radius: 999px;
    }
    svg {
      color: $color-light;
    }
  }
  &Avatar {
    width: 3rem;
  }
  &Menu {
    background-color: $color-lighter;
    border-radius: 1rem;
    min-width: 300px;
    &Avatar {
      padding: 1rem;
      img {
        margin-inline: auto;
        width: 4rem;
        aspect-ratio: 1;
      }
    }
    &Title {
      display: block;
      background-color: $color-primary;
      color: $color-light;
      text-align: center;
      padding-block: 0.5rem;
      font-weight: 700;
    }
    &Links {
      padding: 1rem;
      a {
        width: 100%;
        display: inline-block;
        padding: 0.75rem;
        border: 1px solid rgba(86, 103, 137, 0.26);
        margin-block: 0.5rem;
        border-radius: 999px;
        text-align: center;
        color: $color-light-secondary;
        &:last-of-type {
          margin-bottom: 1rem;
        }
      }
    }
  }
  &Hamburger {
    display: none;
  }
}

@media (max-width: $screen-md) {
  .navbar {
    &Left {
      img {
        width: 100px;
        height: 30px;
      }
    }
    &Items {
      display: none;
    }
    &Avatar {
      width: 2rem;
    }
    &Container {
      width: 100%;
      padding: 0.25rem;
    }
    &Hamburger {
      display: block;
      position: relative;
      button {
        display: flex;
        align-items: center;
        padding-inline: 0.5rem;
        margin: 0;
      }
      svg {
        color: $color-light;
      }
      &Menu {
        position: absolute;
        width: 101vw;
        right: -5px;
        margin-top: 1.4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        // animation-name: animate;
        &Item {
          background-color: $color-primary;
          width: 100%;
          text-align: right;
          color: $color-light;
          padding: 0.5rem 1rem;
          &:not(:last-child) {
            border-bottom: 1px solid $color-light;
          }
        }
      }
    }
  }
}

@keyframes animate {
  from {
    width: 0;
  }
  to {
    width: 101vw;
  }
}
