@import '../../../styles/variables.scss';

.clubs {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &Content {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }
}

